<div id="conteudo">
    <div id="backgroundBlush"></div>
    
    <div id="btnContent">
        <div id="btnPerfil" class="btnHome" ng-click="home.clicaProfile()">
            <img src="ic_account_circle_white_36dp.png" class="iconBtnHome"></img>
        </div>
        <div id="btnWorld" class="btnHome">
            <img src="ic_favorite_white_36dp.png" class="iconBtnHome"></img>
        </div>
        <div id="btnFaturas" class="btnHome">
            <img src="ic_credit_card_white_36dp.png" class="iconBtnHome"></img>
        </div>
     </div>  
    
    <div id="logoHomeContent">     
        <img id="logoHome" src="AveCocoLogo.png"></img>
    </div>
</div>