<div id="conteudoShop">
    <div id="backgroundBlush"></div>
    <div id="lista">
        <div id="caixinha">
            <div id="tituloProduto">TITULO</div>
            
            <div id="informacoesProduto">
                <div id="imagem">
                    <img src="blusa.jpg" id="imgProduto"></img>
                </div>
                
            </div>

            <div id="botoesCaixinha">
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
            </div>
        </div>

        <br>

        <div id="caixinha">
            <div id="tituloProduto">TITULO</div>
            
            <div id="informacoesProduto">
                <div id="imagem">
                    <img src="terno.jpg" id="imgProduto"></img>
                </div>
                
            </div>

            <div id="botoesCaixinha">
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
            </div>
        </div>

        <br>

        <div id="caixinha">
            <div id="tituloProduto">TITULO</div>
            
            <div id="informacoesProduto">
                <div id="imagem">
                    <img src="blusa.jpg" id="imgProduto"></img>
                </div>
                
            </div>

            <div id="botoesCaixinha">
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
            </div>
        </div>

        <br>

        <div id="caixinha">
            <div id="tituloProduto">TITULO</div>
            
            <div id="informacoesProduto">
                <div id="imagem">
                    <img src="blusa.jpg" id="imgProduto"></img>
                </div>
                
            </div>

            <div id="botoesCaixinha">
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
            </div>
        </div>

        <br>

        <div id="caixinha">
            <div id="tituloProduto">TITULO</div>
            
            <div id="informacoesProduto">
                <div id="imagem">
                    <img src="blusa.jpg" id="imgProduto"></img>
                </div>
                
            </div>

            <div id="botoesCaixinha">
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
                <div class="btnCaixinha"></div>
            </div>
        </div>
    </div>
</div>